body {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}

.dropdown {
    border-radius: 10px;
    border:1px solid #AAAAAA;
<<<<<<< HEAD
}

#blue {
    color: blue;
}

#green {
    color: green;
}

#pink {
    color: red;
}


#yellow {
    color: yellow;
=======
>>>>>>> ff191e5a9fed440c86c89d1a520436582e856566
}